In [1]:
import pandas as pd
import numpy as np
import math

In [ ]:
df = pd.read_csv('insurance_data.csv')
df['age'] = df['age'] / 55
df.head()

        age  affordibility  bought_insurance
0  0.400000              1                 0
1  0.454545              0                 0
2  0.854545              1                 1
3  0.945455              0                 0
4  0.836364              1                 1

In [3]:
x = df.drop('bought_insurance', axis = 1)

In [4]:
y = df['bought_insurance']

In [5]:
x_train = x.iloc[:int(0.8* len(x))]
y_train = y.iloc[:int(0.8* len(y))]
x_test =  x.iloc[int(0.8* len(x)):]
y_test =  y.iloc[int(0.8* len(y)):]

In [6]:
x_train.head()

        age  affordibility
0  0.400000              1
1  0.454545              0
2  0.854545              1
3  0.945455              0
4  0.836364              1

In [7]:
def sigmoid_func(a):
    return 1/(1+np.exp(-a))  # np helps to get value for all numpy array elements at once

In [8]:
def log_loss(y_true, y_pred):
    epsilon = 1e-15
    y_pred_new = np.clip(y_pred, epsilon, 1-epsilon)
    
    return -np.mean(y_true*np.log(y_pred_new) + (1-y_true)*np.log(1-y_pred_new))

In [40]:
class nn:
    def __init__(self):
        self.w1 = 1
        self.w2 = 1
        self.bias = 0

    def fit(self, x, y, epochs):
        self.w1, self.w2,self.bias = self.grad_des(x['age'], x['affordibility'], y, epochs)
        print(f'w1:{self.w1}, w2:{self.w2}, bias;{self.bias}')

    def grad_des(self,age, affordibility, y_true, epochs):
        w1 = w2 = 1
        bias = 0
        rate = 0.1
        
        n = len(age)
        for i in range(epochs):
            ws = w1*age + w2*affordibility + bias
            y_pred = sigmoid_func(ws)
            loss = log_loss(y_true,y_pred)
            w1d = (1/n)*np.sum(age*(y_pred-y_true))
            w2d = (1/n)*np.sum(affordibility*(y_pred-y_true))
            bd = np.mean(y_pred - y_true)
            w1 = w1 - rate*w1d
            w2 = w2 - rate*w2d
            bias = bias - rate*bd
            if(i == epochs-1):
                print(f'Loss: {loss}')
        return w1,w2,bias

    def predict(self,x_test):
        y_pred = self.w1 * x_test['age'] + self.w2*x_test['affordibility'] + self.bias
        weighted_sum = sigmoid_func(y_pred)
        return (weighted_sum >= 0.5).astype(int)

In [41]:
cstmod = nn()
cstmod.fit(x_train, y_train, 1000)

Loss: 0.37972953211842203
w1:3.764109413582009, w2:1.3273531580607887, bias;-3.615414990174008

In [42]:
cstmod.predict(x_test)

22    1
23    1
24    1
25    1
26    0
27    1
dtype: int64

In [22]:
y_test

22    1
23    1
24    1
25    1
26    0
27    0
Name: bought_insurance, dtype: int64